FIREBASE_SERVICE_ACCOUNT_PATH=./secrets/firebase-service-account.json
FIREBASE_PROJECT_ID=supply-chain-project-29398
FIREBASE_REALTIME_DB_URL=https://supply-chain-project-29398-default-rtdb.asia-southeast1.firebaseapp.com

FIRESTORE_THREATS_COLLECTION=threats
FIRESTORE_VESSEL_ROUTES_COLLECTION=vesselRoutes
FIRESTORE_VESSEL_PROFILES_COLLECTION=vesselProfiles

MARITIME_GRAPH_PATH=./data/maritime_graph.geojson

ENV=development
PORT=3003
LOG_LEVEL=DEBUG

ASTAR_MAX_NODES=10000
SNAP_WARN_DISTANCE_NM=500

ETA_ROUTING_FACTOR=1.08

AIR_SAMPLE_INTERVAL_NM=200
